.heading {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
}
.name {
    height: 100px;
    width: 200px;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 100px;
    margin-left: 300px;
    font-size: 25px;
    color: white;
}
.about {
    margin-left: 1400px;
    position: relative;
    top: -50px;
}
.portfolio {
    margin-left: 1500px;
    position: relative;
    top: -67px;
}
.contact {
    margin-left: 1600px;
    position: relative;
    top: -85px;
}
.body {
    background-image: url("../images/pattern.png");
}
.content {
    height: 500px;
    width: 1375px;
    background-color: #ffffff;
    font-size: 25px;
    color: #4aaaa5;
    margin-left: 300px;
    position: relative;
    top: 100px;
}
.aboutme {
    margin-left: 50px;
    top: 10px;
    position: relative;
    font-weight: bold;
}
.image {
    position: relative;
    top: 50px;
    margin-left: 50px;
}
.hr {
    width: 95%;
    margin: auto;
    position: relative;
    top: 20px;
}
.paragraph {
    position: relative;
    margin-left: 300px;
    top: -150px;
}
.paragraph2 {
    position: relative;
    margin-left: -200px;
    top: 50px;
    color: #666666
}
.footer {
    height: 100px;
    width: 100%;
    background-color: #666666;
    position: relative;
    top: 350px;
}
.copyright {
    margin-left: 50%;
}
.color {
    color: #666666
}