.heading {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #777777;
    margin-bottom: 20px;
}
.name {
    height: 100px;
    width: 200px;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 100px;
    margin-left: 300px;
    font-size: 25px;
    color: white;
}
.about {
    margin-left: 1400px;
    position: relative;
    top: -50px;
}
.portfolio {
    margin-left: 1500px;
    position: relative;
    top: -67px;
}
.contact {
    margin-left: 1600px;
    position: relative;
    top: -85px;
}
.body {
    background-image: url("../images/pattern.png");
}
.content {
    height: 600px;
    width: 1375px;
    background-color: #ffffff;
    font-size: 25px;
    color: #4aaaa5;
    margin-left: 300px;
    position: relative;
    top: 100px;
}
.aboutme {
    margin-left: 50px;
    top: 10px;
    position: relative;
    font-weight: bold;
}
.image {
    position: relative;
    top: 50px;
    margin-left: 50px;
}
.hr {
    width: 95%;
    margin: auto;
    position: relative;
    top: 20px;
}
.paragraph {
    position: relative;
    margin-left: 300px;
    top: -150px;
}
.paragraph2 {
    position: relative;
    margin-left: -200px;
    top: 50px;
    color: #666666
}
.footer {
    height: 75px;
    width: 2135px;
    background-color: #666666;
    position: relative;
    top: 650px;
    border-top-style: solid;
    border-top-color: lightskyblue;
    border-top-width: 3px;
    margin-left: -500px;
    
}
.copyright {
    margin-left: 50%;
}
.color {
    color: #666666
}
.name2 {
    position: relative;
    top: 50px;
    margin-left: 100px;
    display: block;
}
.nameinput {
    position: relative;
    top: 50px;
    display: block;
    margin-left: 100px;
    width: 1100px;
}
.mail {
    position: relative;
    top: 75px;
    margin-left: 100px;
    display: block;
}
.mailinput {
    position: relative;
    top: 75px;
    display: block;
    margin-left: 100px;
    width: 1100px;
}
.msg {
    position: relative;
    top: 100px;
    margin-left: 100px;
    display: block;
}
.msginput {
    position: relative;
    top: 120px; 
    display: block;
    margin-left: 100px;
    width: 1100px;
    height: 200px;
}
.button {
    position: relative;
    top: 150px;
    margin-left: 1075px;
}